body {
  /*overflow:hidden;*/
}
.navbar {
  border-radius: 0px;
}
.row {
  padding-left: 20px;
}
span {
  margin: 10px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
th {
  font-family: 'Fredoka One', cursive;
 }
