body {
  /*overflow:hidden;*/
  background-image: url(http://www.my-hd-wallpapers.fr/download.php?wallpaper=1389718298&dwn=wall/1389718298_general-old-paper.jpg);
  background-attachment: fixed;
  width: 100%;
}
/*============================================================================*/
/*==========================      STYLE HEADER     ===========================*/
/*============================================================================*/
.navbar {
  border-radius: 0px;
}
/*============================================================================*/
/*==========================   STYLE AFFICHE.PHP   ===========================*/
/*============================================================================*/
span {
  margin: 10px;
}
tr:nth-child(even) {
  background-color: black;
}
tr {
  padding: 1em;
  color: white;
}
th {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5em;
  color: white;
 }
 .modifier {
   color: white;
 }

.fa-close {
   color: red;
 }
